@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Super Hero Creator</h1>
    <p>Here you can create or edit your favorite Superhero and store it to our list!</p>
</div>

<center>
    <p><img src="https://www.pngkey.com/png/full/15-157883_boros-the-conqueror-of-galaxies-vs-goku-super.png" width="618" height="628" /></p>
</center>
